[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/for/*"]
	submit = group Exynos 5420 Kernel Team
	submitAs = group Exynos 5420 Kernel Team
[access "refs/heads/*"]
	owner = group Exynos 5420 Kernel Team
	submit = group Exynos 5420 Kernel Team
	submitAs = group Exynos 5420 Kernel Team
